<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Recorder</title>
    <link rel="stylesheet" href="static\css\styles.css">
</head>
<body>
    <header>
        <h1>Automated Speech Emotion Recognition</h1>
        <p>Develop a deep learning system to classify emotions from speech</p>
    </header>

    <div class="container">
        <h1>Audio Recorder</h1>
        <button id="recordButton">Start Recording</button>
        <button id="uploadButton" disabled>Upload</button>
        <ul id="recordingsList"></ul>
        <div id="jsonData"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/recorderjs/0.1.0/recorder.js"></script>
    <script src="static\js\scripts.js"></script>

    <footer>
        <p>Group 73 Automated Speech Emotion Recognition</p>
    </footer>
</body>
</html>
